/////////////////// POSITION ///////////////////

@mixin flex-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/////////////////// DIMENSIONS ///////////////////

@mixin max-width-max-height {
    width: 100%;
    height: 100%;
}

@mixin marginVH($vertical, $horizontal) {
    margin: $vertical $horizontal;
}


/////////////////// MOBILE /////////////////// 
@mixin tableOnMobile {
    .mat-table {
        border: 0;
        vertical-align: middle
      }
      .mat-table caption {
        font-size: 1em;
      }
      .mat-table .mat-header-cell {
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
      }
      .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        height:30px;
        margin: 2%;
      }
      .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        font-size: .85em;
      }
      .mat-table .mat-cell:last-child {
        border-bottom: 0;
      }
      .mat-cell:first-of-type {
          padding: 0;
        }
}